@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');

/* TAILWIND PREFLIGHT */
@import 'preflight.css';

/* Highlightjs */
@import 'styles/default.css';

/* Odoc */
@import 'odoc.css';

/* MAIN TEMPLATE */
body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #eee;
    padding-bottom: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    border-left: solid #ffa500b5 8px;
    border-bottom: solid #ffa500b5 1px;
    padding-left: 8px;
    margin-bottom: 0.5rem;
}

h3 {
    border-left: solid #ffa500b5 4px;
    padding-left: 4px;
    font-size: 1.2rem;
    font-weight: lighter;
}

/* HEADER */

#header {
    background-color: rgb(250, 250, 250);
}

#header nav {
    max-width: 800px;
    margin: auto;
}

nav a {
    text-decoration: none;
    color: rgba(107,114,128);
    display: inline-block;
}

nav a:hover {
    color: black;
    text-decoration: underline;
}

#header nav ul {
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    margin: 0;
}

#header nav ul li {
    margin-right: 2rem;
}


#ocaml-logo {
    display: inline-block;
    height: 2rem;
}


#header nav ul li:hover ul {
    display: inherit;
}

#header nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;

}

#odoc-content {
    padding-bottom: 1rem;
    position: relative;
}

/* MAIN CONTENT */
#main-section {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0 0 1rem 1rem;
}

#odoc-content p {
    font-family: 'Source Serif Pro', serif;
}

.caption {
    display: none
}

div:hover > .caption {
    position: absolute;
    display: block;
    background-color: white;
    color: black;
    padding: 0.25rem 0.5rem;
    box-shadow: #0008 0 0 3px 1px;
    transform: translateX(-50%);
    border-radius: 0.25rem;
}


.list-packages .pkg-item:nth-child(odd) {
    background-color: #eeeeee;
}