*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  padding-bottom: 0 !important;
}
.container {
  width: calc(95% - 10px);
  margin: 0 auto;
}
.main {
  margin: 50px auto;
}
/* End of General Styles */

/* Tilte Styles */
.title {
  text-align: center;
  margin: 30px auto;
  font-size: 1.7rem;
}
/* End of Tilte Styles */

/* Packages Styles */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
td, th {
  border: 0;
  text-align: left;
  padding: 8px;
}
thead {
  background-color: #000;
  color: #ccc;
}
tbody tr:nth-child(even) {
  background-color: #dddddd;
}
tbody tr:hover{
  background-color: #dddddd91;
}
/* End of Packages Styles */

/* Legend Styles */
.fixed {
  position: fixed;
  top: 50%;
  height: 70vh;
  width: 80px;
  overflow-y: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fixed-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.fixed-data span {
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  background-color: #000;
  color: #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  cursor: pointer;
}
.fixed-data span:hover {
  background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  animation-name: resizer;
  animation-duration: 1s;
}
@keyframes resizer {
  from {background-color: #000;width:50px;}
  to {background-color: rgba(0, 0, 0, 0.548);width:100%;}
}
.fixed::-webkit-scrollbar {
  width: 5px;
}
.fixed::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.fixed::-webkit-scrollbar-thumb {
  background: #888;
}
.fixed::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End of Legend Styles */

/* Serch Box Styles */
input[type=text] {
  width: 130px;
  height: 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding: 5px;
  border: 2px solid #000;
}
input[type=text]:focus {
  width: calc(100% - 205px);
}
/* End of Serch Box Styles */

/* Filters Styles */
.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.filters button {
  background-color: #000;
  color: #ccc;
  height: 30px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  border: 0;
  outline: 0;
  margin: 0 2px;
}
/* End of Filters Styles */

/* Footer Styles */
.footer {
  background-color: rgb(81, 84, 85);
  color: white;
  padding: 10px 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  margin: 0 auto;
}

/* Loader */
#content {
  display: none;
}
#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background-color: #000000ed;
  z-index:9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}
.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #a33802;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}
.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #a33802;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}
@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* End of Loader */

/* Pagination Styles */
.pagination {
  display: inline-block;
  text-align: center;
  margin: 30px auto 20px;
  width: 100%;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination a.active {
  background-color: #a33802;
  color: white;
  border: 1px solid #a33802;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/* End of Pagination Styles */

@media (min-width: 550px) {
  .container {
    width: calc(90% - 10px);
  }
}

@media (min-width: 880px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1200) {
  .container {
    width: 70%;
  }
}